.grid-container-users {
    margin-top: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    align-content: center;
}

.btn-users {
    width: 9rem;
    margin: 10px
}

.box-container-users .box{
    text-align: center;
    background:#fff;
    max-width: 30rem;
    margin-bottom: 2.5rem;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:3rem;
}

.box-container-users .box img{
    height: 20rem;
    width: 90%;
    border:var(--border);
    border-radius: .5rem;
    margin: auto;
}

.box-container-users .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.box-container-users .box span{
    color:var(--green);
    font-size: 1.5rem;
}

.box-container-users .box .share{
    padding-top: 2rem;
}

.box-container-users .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.box-container-users .box .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}

.expertise-span{
    display: inline;
}